@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
*, *::before, *::after {
  padding: 0p;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  scrollbar-width: none; /* ParaFirefox */
  -ms-overflow-style: none; /* Para Internet Explorer e Edge */
}

*::-webkit-scrollbar {
  width: 0px; /* Para Chrome, Safari, e Opera */
  display: none;
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 12px;
}

.m-3 {
  margin: 16px;
}

.m-4 {
  margin: 24px;
}

.m-5 {
  margin: 32px;
}

.m-6 {
  margin: 40px;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 12px;
}

.mt-3 {
  margin-top: 16px;
}

.mt-4 {
  margin-top: 24px;
}

.mt-5 {
  margin-top: 32px;
}

.mt-6 {
  margin-top: 40px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 12px;
}

.ml-3 {
  margin-left: 16px;
}

.ml-4 {
  margin-left: 24px;
}

.ml-5 {
  margin-left: 32px;
}

.ml-6 {
  margin-left: 40px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 12px;
}

.mr-3 {
  margin-right: 16px;
}

.mr-4 {
  margin-right: 24px;
}

.mr-5 {
  margin-right: 32px;
}

.mr-6 {
  margin-right: 40px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 12px;
}

.mb-3 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 24px;
}

.mb-5 {
  margin-bottom: 32px;
}

.mb-6 {
  margin-bottom: 40px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 12px;
  margin-right: 12px;
}

.mx-3 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-4 {
  margin-left: 24px;
  margin-right: 24px;
}

.mx-5 {
  margin-left: 32px;
  margin-right: 32px;
}

.mx-6 {
  margin-left: 40px;
  margin-right: 40px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-3 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-4 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-5 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.my-6 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 12px;
}

.p-3 {
  padding: 16px;
}

.p-4 {
  padding: 24px;
}

.p-5 {
  padding: 32px;
}

.p-6 {
  padding: 40px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 12px;
}

.pt-3 {
  padding-top: 16px;
}

.pt-4 {
  padding-top: 24px;
}

.pt-5 {
  padding-top: 32px;
}

.pt-6 {
  padding-top: 40px;
}

.pt-7 {
  padding-top: 48px;
}

.pt-8 {
  padding-top: 56px;
}

.pt-9 {
  padding-top: 72px;
}

.pt-10 {
  padding-top: 96px;
}

.pt-11 {
  padding-top: 128px;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 12px;
}

.pl-3 {
  padding-left: 16px;
}

.pl-4 {
  padding-left: 24px;
}

.pl-5 {
  padding-left: 32px;
}

.pl-6 {
  padding-left: 32px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 12px;
}

.pr-3 {
  padding-right: 16px;
}

.pr-4 {
  padding-right: 24px;
}

.pr-5 {
  padding-right: 32px;
}

.pr-6 {
  padding-right: 40px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 12px;
}

.pb-3 {
  padding-bottom: 16px;
}

.pb-4 {
  padding-bottom: 24px;
}

.pb-5 {
  padding-bottom: 32px;
}

.pb-6 {
  padding-bottom: 40px;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-3 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-4 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-5 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-3 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-4 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-5 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.color-primary {
  color: #194248;
}

.color-light {
  color: #92A8AB;
}

.color-medium {
  color: #55757A;
}

.color-dark {
  color: #102F33;
}

.secondary {
  color: #60C185;
}

.secondary-light {
  color: #B2E5C5;
}

.secondary-medium {
  color: #88D4A5;
}

.secondary-dark {
  color: #4FA570;
}

.auxiliary-red {
  color: #E7587D;
}

.auxiliary-red-light {
  color: #F1819E;
}

.auxiliary-red-dark {
  color: #C64869;
}

.auxiliary-blue {
  color: #5B89F4;
}

.auxiliary-blue-light {
  color: #83A7FB;
}

.auxiliary-blue-dark {
  color: #4A73D2;
}

.auxiliary-yellow {
  color: #F6BD18;
}

.auxiliary-yellow-light {
  color: #FED150;
}

.auxiliary-yellow-dark {
  color: #D5A210;
}

.white-pure {
  color: #FFFFFF;
}

.white {
  color: #F7F7F7;
}

.white-light {
  color: #FCFCFC;
}

.white-dark {
  color: #EDF2F2;
}

.black {
  color: #101212;
}

.black-light {
  color: #272B2B;
}

.black-dark {
  color: #000000;
}

.color-gray-1 {
  color: #454446;
}

.color-gray-2 {
  color: #555456;
}

.color-gray-3 {
  color: #666566;
}

.color-gray-4 {
  color: #767576;
}

.color-gray-5 {
  color: #868587;
}

.color-gray-6 {
  color: #969597;
}

.color-gray-7 {
  color: #A6A6A7;
}

.bg-white-light {
  background-color: #FCFCFC;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 32px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .container {
    padding: 24px 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

li {
  list-style: none;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-item-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 360px;
          flex: 1 1 360px;
}

.flex-item-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 360px;
          flex: 2 1 360px;
}

.flex-item-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 360px;
          flex: 3 1 360px;
}

.flex-item-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 360px;
          flex: 4 1 360px;
}

.flex-item-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 360px;
          flex: 5 1 360px;
}

.flex-item-auto {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.height-100vh {
  height: 100vh;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.display-inline-block {
  display: inline-block;
}

.visible {
  visibility: hidden;
}

.spacing-top-article {
  height: 150px;
}
@media screen and (max-width: 960px) {
  .spacing-top-article {
    height: 115px;
  }
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 40ch;
}

h1 {
  color: #101212;
  font-family: "Inter", sans-serif;
  font-size: 64px;
  line-height: 100%;
}
@media screen and (max-width: 960px) {
  h1 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h2 {
  color: #101212;
  font-family: "Inter", sans-serif;
  font-size: 52px;
  line-height: 110%;
}
@media screen and (max-width: 960px) {
  h2 {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
}

h3 {
  color: #101212;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  line-height: 115%;
}
@media screen and (max-width: 960px) {
  h3 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    line-height: 120%;
  }
}

h4 {
  color: #101212;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  h4 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 130%;
  }
}

h5 {
  color: #101212;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 140%;
}
@media screen and (max-width: 960px) {
  h5 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 150%;
  }
}

p {
  color: #767576;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 130%;
}
@media screen and (max-width: 960px) {
  p {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 130%;
  }
}

.thin {
  font-weight: 300;
}

.bold {
  font-weight: bold;
  color: #194248;
}

span {
  color: #767576;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 150%;
}
@media screen and (max-width: 960px) {
  span {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 130%;
  }
}
span a {
  color: #C64869;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 150%;
}
span a:hover {
  color: #F1819E;
}

strong {
  font-weight: bold;
  color: #102F33;
}

.small-warning {
  font-weight: 400;
  color: #C64869;
}

.text-align-center {
  text-align: center;
}

.text-wight-light {
  color: #767576;
  font-size: 12px;
  font-weight: 300;
}

.longText {
  font-size: 16px;
  line-height: 170%;
}
@media screen and (max-width: 960px) {
  .longText {
    font-size: 14px;
    line-height: 160%;
  }
}

.font-size-10 {
  font-size: 10px;
}

a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 130%;
  text-decoration: none;
  color: #F7F7F7;
  -webkit-transition: 0.5S ease;
  transition: 0.5S ease;
}
a:hover {
  color: #F7F7F7;
}
@media screen and (max-width: 960px) {
  a {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 130%;
  }
}

.link a {
  padding: 12px 24px;
  position: relative;
}
@media screen and (max-width: 960px) {
  .link a {
    padding: 12px 16px;
  }
}
.link a::after {
  position: absolute;
  content: "";
  width: 0%;
  top: 90%;
  left: 0;
  height: 3px;
  background-color: #60C185;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media screen and (max-width: 960px) {
  .link a:hover {
    color: #60C185;
  }
}
.link a:hover::after {
  width: 100%;
}
@media screen and (max-width: 960px) {
  .link a:hover::after {
    width: 0%;
  }
}

.btn-navbar {
  padding: 12px 24px;
  border: 2px solid #FCFCFC;
  border-radius: 12px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn-navbar:hover {
  border: 2px solid #60C185;
}
@media screen and (max-width: 960px) {
  .btn-navbar {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.btn-secondary {
  display: inline-block;
  cursor: pointer;
  padding: 12px 24px;
  border: 2px solid #194248;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #194248;
}
.btn-secondary:hover {
  border: 2px solid #60C185;
  color: #55757A;
}
@media screen and (max-width: 960px) {
  .btn-secondary {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.btn {
  background-color: #88D4A5;
  border-radius: 12px;
  cursor: pointer;
  padding: 14px 24px;
  -webkit-box-shadow: 0px 3px 60px rgba(25, 66, 72, 0.14), 0px 6.9632px 18.0882px rgba(25, 66, 72, 0.0912224), 0px 2.38427px 7.51293px rgba(25, 66, 72, 0.07), 0px 1.94738px 2.71728px rgba(25, 66, 72, 0.0487776);
          box-shadow: 0px 3px 60px rgba(25, 66, 72, 0.14), 0px 6.9632px 18.0882px rgba(25, 66, 72, 0.0912224), 0px 2.38427px 7.51293px rgba(25, 66, 72, 0.07), 0px 1.94738px 2.71728px rgba(25, 66, 72, 0.0487776);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #194248;
  display: inline-block;
}
.btn:hover {
  color: #102F33;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 3px 185px rgba(25, 66, 72, 0.24), 0px 6.9632px 55.7721px rgba(25, 66, 72, 0.156381), 0px 2.38427px 23.1649px rgba(25, 66, 72, 0.12), 0px 1.94738px 8.37828px rgba(25, 66, 72, 0.0836187);
          box-shadow: 0px 3px 185px rgba(25, 66, 72, 0.24), 0px 6.9632px 55.7721px rgba(25, 66, 72, 0.156381), 0px 2.38427px 23.1649px rgba(25, 66, 72, 0.12), 0px 1.94738px 8.37828px rgba(25, 66, 72, 0.0836187);
}
@media screen and (max-width: 960px) {
  .btn {
    font-size: 14px;
    padding: 10px 16px;
  }
}

.btn-reviewer {
  position: relative;
}
.btn-reviewer span {
  top: -7px;
  right: -7px;
  position: absolute;
  padding: 5px;
  color: #FCFCFC;
  background-color: #F1819E;
  border-radius: 50px;
}
@media screen and (max-width: 540px) {
  .btn-reviewer {
    text-align: center;
    width: 100%;
  }
}

.status-green {
  color: #194248;
  background-color: #B2E5C5;
  padding: 4px 12px;
  border-radius: 24px;
  white-space: nowrap;
}
@media screen and (max-width: 960px) {
  .status-green {
    font-size: 12px;
  }
}

.status-red {
  color: #194248;
  background-color: #F1819E;
  padding: 4px 12px;
  border-radius: 24px;
  white-space: nowrap;
}
@media screen and (max-width: 960px) {
  .status-red {
    font-size: 12px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #FCFCFC;
  overflow-x: hidden;
}

svg, img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

.dropshadow {
  -webkit-filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
          filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}